// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:300&display=swap");

* {
  box-sizing: border-box;
}

// General Styling
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  color: white;
  scroll-behavior: smooth;
}
.text-up {
  overflow: hidden;
}

h1,
h3 {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  letter-spacing: 0.3rem;
  line-height: 1.1;
  margin-bottom: 0.3em;
}
p {
  margin: 0;
  color: rgba($color: #fff, $alpha: 0.7);
}
a {
  color: #fff;
  text-decoration: none;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 1%;
    background: #fff;
    transition: all 500ms ease;
  }
  &:hover::after{
    width: 100%;
    transition: all 500ms ease;
  }
}

a:hover::after{
  transition: all 500ms ease;
}

// Default Section Styling
section {
  height: 100vh;
  position: relative;

  // Wrapper Styling
  .wrapper {
    height: 100%;
    width: 100%;
    padding: 0 10em;
    max-width: 1200px;
    margin: 0 auto;
  }
}

// Intro Section
.intro {
  min-height: 100vh;
  background: rgba($color: #000000, $alpha: 0.9);
  position: relative;
  overflow: hidden;

  // Intro Vid Settings
  .intro-vid {
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Intro Wrap Elements
  .intro-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .intro-text {
      h1 {
        font-size: 4.5rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    .intro-listen {
      margin-top: 2em;
      display: flex;

      #play{
        cursor: pointer;
      }

      ul {
        margin: 0;
        list-style-type: none;

        li {
          display: inline;
          padding-right: 1em;

          &:last-child {
            padding-right: none;
          }
        }
      }
    }
  }
}

// Hero Section

.hero {
  position: relative;
  background-color: rgba($color: #000000, $alpha: 0.8);

  // Background Image
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -999;
  }

  // Hero Wrapper
  .hero-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // Header Settings
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-size: 3.5rem;
        font-family: "Playfair Display", sans-serif;
        color: #fff;
        text-decoration: none;
      }

      ul {
        margin: 0;
        list-style-type: none;

        li {
          padding-right: 1em;
          display: inline;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  // Hero Content
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Hero Text
    .hero-text {
      margin-bottom: 1.5em;
      h1 {
        font-size: 3rem;
        text-transform: capitalize;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .hero-slide {
      width: 150px;
      img {
        position: unset;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    .intro .intro-wrapper .intro-text h1{
      font-size: 3rem;
    }
    .intro .intro-wrapper .intro-text p{
      font-size: 1rem;
    }
    .hero .hero-content .hero-text h1{
      font-size: 2rem;
    }
    .wrapper {
      padding: 0 1em;
    }
  }
}
